{% extends "wagtailadmin/base.html" %}
{% load static %}

{% block branding_logo %}
    <div style="background-color: #2f2060; display: flex; justify-content: center; align-items: center; padding: 5px; border-radius: 50%;">
    <div style="background-color: white; display: flex; justify-content: center; align-items: center; padding: 8px 5px 10px 10px; border-radius: 50%;">
        <img src="{% static 'images/alive_logo_short.svg' %}" alt="Custom Project" width="50" height="50"/>
    </div>
    </div>
{% endblock %}